<div class="container mt-5">
  <div>
    <form [formGroup]="formPokemon">
      <div class="form-group">
        <input
          type="text"
          class="form-control"
          id="input-buscador"
          formControlName="nombre"
        />
        <small id="small-pokemon" class="form-text text-muted"
          >Example : pikachu
        </small>
      </div>
    </form>
  </div>
  <div>
    <button type="button" class="btn btn-primary" (click)="getPokemon()">
      Search
    </button>
  </div>
</div>

<div *ngIf="this.pokemon">
  <app-ver-pokemon [verPokemon]="this.pokemon"></app-ver-pokemon>
</div>
